body {
  min-height: 100dvh;
  background-image: url("../beerBG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header{
        display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      max-width: 100vw;
}

header>img{
        max-height: 10vh;
        width: auto;
        max-width: 18vw;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

main>img{
    max-width: 60vw;
    max-height: 40vh;
    height: auto;
}

.curved-text {
  width: 100%;
  height: auto;
}

.curved-text text {
  font-size: 20px;
  fill: white; /* change color */
}

footer{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      padding-bottom: 1rem;
      max-width: 100vw;
      position:fixed;
      width: 100%;
      bottom:0;
}

footer>img{
        max-height: 10vh;
        width: auto;
        max-width: 13vw;
}